.background-position__md_screen {
  background-position-x: -920px;
  background-position-y: -70px;
}
.background-position__lg_screen {
  background-position-x: center;
  background-position-y: center;
}
