<section
  id="hero"
  class="h-screen md:bg-center bg-center-hero flex flex-col bg-auto md:bg-cover justify-between md:shadow-bottom"
  style="background-image: url('assets/images/imagen_index.png')"
>
  <div
    class="flex flex-col justify-center pt-80 md:pt-0 sm:justify-end items-center h-98"
  >
    <h1 class="primary-text">
      {{ "landing-page.hero.banner.main-title" | translate }}
    </h1>
    <h1 class="secondary-text">
      {{ "landing-page.hero.banner.main-subtitle" | translate }}
    </h1>
  </div>
  <footer>
    <ul class="flex justify-center md:justify-end pb-10">
      <li *ngFor="let item of socialLinks" class="mx-3">
        <a [href]="item.socialLink" target="_blank">
          <img class="w-12" [src]="item.imgUrl" [alt]="item.nameLink" />
        </a>
      </li>
    </ul>
  </footer>
</section>
